@font-face {
    font-family: 'Digital-7';
    src: url('font/digital-7.regular.ttf');
}
*{
    -fx-font-family: 'Digital-7','times New Roman';
}
.button {
    -fx-font-size: 30.0;
    -fx-text-fill: WHITE;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.button:hover {
    -fx-background-color:
        rgba(255, 255, 255, 0.3),
        -fx-background-color;
    -fx-background-radius: 9, 9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.2, 0, 0);
}
.button:pressed {
    -fx-background-color:
        rgba(0, 0, 0, 0.15),
        -fx-background-color;
    -fx-background-radius: 9, 9;
    -fx-effect: none;
    -fx-translate-y: 1;
}